#current-users{
     width: 60%;
     color: white;
     margin: px-to-rex(192px) auto;
     padding: px-to-rex(22px) 0;
     border-top: 1px solid $faint-white;
     border-bottom: 1px solid $faint-white;

     h3, h4{
       text-align: center;
     }

     h4{
       font-size: px-to-rex(34px);
     }
     h3{
       font-size: px-to-rex(72px);
       margin-top: px-to-rex(12px);
     }
}
